.shopscreen-hero {
  height: 60vh;
  width: 100%;

  background-image: url(../images/jarbubble.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.shopscreen {
  max-width: 1300px;
  margin: 1rem auto;
}

.shopscreen__title {
  font-size: 1.5rem;
  color: #171717;
  margin-bottom: 1rem;
  margin-left: 8px;
}

.shopscreen__products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

@media (max-width: 1232px) {
  .shopscreen__products {
    grid-template-columns: repeat(3, auto);
  }
}

@media (max-width: 950px) {
  .shopscreen__products {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 630px) {
  .shopscreen__products {
    grid-template-columns: 1fr;
  }
}
.shopscreen {
  max-width: 1300px;
  margin: 1rem auto;
}

.shopscreen__title {
  font-size: 1.5rem;
  color: #171717;
  margin-bottom: 1rem;
  margin-left: 8px;
  text-align: center;
  margin-top: 5rem;
  font-weight: bold;
}

.shopscreen__products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

@media (max-width: 1232px) {
  .shopscreen__products {
    grid-template-columns: repeat(3, auto);
  }
}

@media (max-width: 950px) {
  .shopscreen__products {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 630px) {
  .shopscreen__products {
    grid-template-columns: 1fr;
  }
}
